{% extends "europarts/bill_base.html" %}
{% load static from staticfiles %}

{% block bill-content %}
	<form id="billForm" method="post" action=".">
		{% csrf_token %}
		Ref No : {{ worksheet.ref_no }}

		<input class="btn btn-primary btn-sm" type="submit" value="Save"/>

		<hr/>

		{{ row_formset.management_form }}

		<table>

		<tr>
			<th>Part No</th>
			<th>Qnty</th>
			<th>Unit Price in Taka</th>
			<th>Total Price in Taka</th>
		</tr>


		{% for row_form in row_formset %}
			<tr class="row-formset">
				<td>{{ row_form.part_no }}</td>
				<td>{{ row_form.quantity }}</td>
				<td>{{ row_form.unit_price_in_taka }}</td>
				<td>{{ row_form.total_price_in_taka }}</td>
			</tr>
			{% endfor %}

		</table>
	</form>

	<div id="part_price" style="border: solid; border-width: 1px; display: none; background-color: white;"></div>

	<!-- Generate Quotation Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'europarts:quotation_create' pk %}">{% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
					</div>
					<div class="modal-body">
{#						<div class="form-group">#}
{#						    <label for="recipient">Recipient:</label>#}
{#						    <input type="text" class="form-control" id="recipient" name="recipient" value="{{ recipient }}" required>#}
{#						</div>#}
{#						<div class="form-group">#}
{#						    <label for="recipient_address">Address:</label>#}
{#						    <input type="text" class="form-control" id="recipient_address" name="recipient_address" value="{{ recipient_address }}" required>#}
{#						</div>#}
						<div class="form-group">
						    <label for="client">Client:</label>
						    <select id="client" name="client">
						    {% for client in clients %}
						        <option value="{{ client.id }}">{{ client.name }}</option>
							    {% endfor %}
						    </select>
						&nbsp;
							<a href="{% url 'europarts:clients_create' %}" class="btn btn-primary btn-sm">+</a>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Generate Quotation" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra-js %}
	<script src="{% static 'js/europarts.js' %}"></script>
	<script src="{% static 'js/jquery.formset.js' %}"></script>

	<script type="text/javascript">

		$("#bill-tab").addClass("active");

		$("#bill-create").addClass("active");

		$("#conditional-buttons").css('display', 'block');

		$(".row-formset").formset({
			addText: 'add row',
			deleteText: 'remove'
		});

		$(document).ready(function() {
	        $('select').select2();
	    });
	</script>
{% endblock %}