certifi==2017.7.27.1
chardet==3.0.4
Django==1.10.6
django-allauth==0.33.0
django-debug-toolbar==1.8
idna==2.6
oauthlib==2.0.4
olefile==0.44
Pillow==4.2.1
python-openid==2.2.5
requests==2.18.4
requests-oauthlib==0.8.0
sqlparse==0.2.4
urllib3==1.22
virtualenv==15.1.0
