{% extends "inv_base.html" %}

{% block main %}
	<div class="container">
		<form method="get">
			<input type="text" name="q" id="q" placeholder="Search..." autofocus/>
			<input type="submit" class="btn" value="Search"/>
		</form>

		<table class="bordered">
			<thead>
			<tr>
				<th>UID</th>
				<th>Name</th>
				<th>LC</th>
				<th>Spinning Mills</th>
				<th>Composition</th>
				<th>Quantity</th>
				<th>Actions</th>
			</tr>
			</thead>

			<tbody>
		{% for obj in objs %}
			<tr>
				<td><a href="{% url 'inv:inventory_detailview' obj.pk %}">{{ obj.uid }}</a></td>
				<td><a href="{% url 'inv:inventory_detailview' obj.pk %}">{{ obj.name }}</a></td>
				<td>{{ obj.lc }}</td>
				<td>{{ obj.spinning_mills }}</td>
				<td>{{ obj.composition }}</td>
				<td>{{ obj.quantity }}</td>
				<td>
					<a class="btn" href="{% url 'inv:inventory_detailview' obj.pk %}">details</a>
					<a class="btn red" href="{% url 'inv:inventory_updateview' obj.pk %}">edit</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">No items to show!</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
