{% extends "attendance.html" %}
{% load attendance_extras %}

{% block nav-content %}
	<table class="table">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	</thead>

	<tbody>
	{% for id in emp_ids %}
	<tr>
		<td>
			<a href="{% url 'attendance:employee_summary' id year %}">{{ id }}</a>
		</td>
		<td>
			<a href="{% url 'attendance:employee_summary' id year %}">{{ id|fetch_employee_name }}</a>
		</td>
		<td>
			<a href="{% url 'attendance:add_leave' id %}" class="label label-default">LV</a>
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>



{% endblock %}
