{% extends "attendance.html" %}

{% load attendance_extras %}

{% block nav-content %}
<table class="table">
	<thead>
	<tr>
		<th>Sun</th>
		<th>Mon</th>
		<th>Tue</th>
		<th>Wed</th>
		<th>Thu</th>
		<th>Fri</th>
		<th>Sat</th>
	</tr>
	</thead>

	<tbody>
	{% for all in cal %}
		{% for month in all %}
			{% for week in month %}
				{% if not forloop.counter == 1 or forloop.parentloop.counter == 1 %}
	<tr>
		<td>
			{% if week.0|date:"d" == "01" %}
				{{ week.0|date:"M d" }}<br/>
				{% endif %}
			{{ week.0|date:"Y-m-d"|fetch_attendance:emp_id }}
		</td>
		<td>{{ week.1|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
		<td>{{ week.2|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
		<td>{{ week.3|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
		<td>{{ week.4|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
		<td>{{ week.5|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
		<td>{{ week.6|date:"Y-m-d"|fetch_attendance:emp_id }}</td>
	</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	</tbody>
</table>

<hr/>

<table class="table">
	<thead>
	<tr>
		<th></th>
		{% for month in months %}
		<th>{{ month }}</th>
		{% endfor %}
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Present</td>
		{% for num in pres %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Late</td>
		{% for num in late %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Off Days</td>
		{% for num in off %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Leave</td>
		{% for num in leave %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Weekends</td>
		{% for num in weekly_off %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>

	<tr>
		<td>Absent</td>
		{% for num in absent %}
		<td>{{ num }}</td>
		{% endfor %}
	</tr>
	</tbody>
</table>
{% endblock %}