{% extends "attendance.html" %}
{% load attendance_extras %}

{% block nav-content %}
	<h3>
		<a href="{% url 'attendance:month_summary' prev_month prev_year %}" class="btn btn-xs invis">prev</a>
		{{ month_name }} <small>{{ year }}</small>
		<a href="{% url 'attendance:month_summary' next_month next_year %}" class="btn btn-xs invis">next</a>
	</h3>

	<table class="table invis">
		<thead>
		<tr>
			<th></th>
			<th>Summary</th>
			{% for date in month_dates %}
				<th>
				{% if date.1 == 'O' %}
					<i>{{ date.0 }}</i>
				{% else %}
					{{ date.0 }}
				{% endif %}
				</th>
				{% endfor %}
		</tr>
		</thead>

		<tbody>
		{% for employee in employee_attendances %}
			{% for emp_id, data in employee.items %}
			<tr>
				<td>
					<a href="{% url 'attendance:employee_summary' emp_id current_year %}">{{ emp_id }} <br/> {# href = profile view #}
					{{ emp_id|fetch_employee_name }}</a>
				</td>
				<td>{{ data|summary|safe }}</td>
				{% for item in data %}
					{% if item.1 == 'O' %}
						<td>OFF</td>
					{% else %}
						<td>
							<label class="label label-{% if item.3 %}warning{% elif not item.3 %}{% if item.1 == 'ABS' %}danger{% elif item.1 == 'OFF' %}default{% else %}success{% endif %}{% endif %}">{{ item.1 }}</label> <br/>
							{% if not item.2 == 'X' %}<label class="label label-primary">{{ item.2 }}</label>{% endif %}
						</td>
					{% endif %}
					{% endfor %}
			</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<table class="table vis">
		<thead>
		<tr>
			<th></th>
			<th>Present</th>
			<th>Late</th>
			<th>Absent</th>
		</tr>
		</thead>

		<tbody>
		{% for employee in employee_attendances %}
			{% for emp_id, data in employee.items %}
		<tr>
			<td>
				{{ emp_id }}<br/>
				{{ emp_id|fetch_employee_name }}
			</td>
			{{ data|summary2|safe }}
		</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
