{% extends "europarts/inventory_base.html" %}

{% block worksheet-content %}
	<form method="post" action=".">
		{% csrf_token %}
		<table class="table" style="width: 200px;">
			<tr>
				<td><b>{{ form.part_no.label }}:</b></td>
				<td>{{ form.part_no }}</td>
			</tr>

			<tr>
				<td><b>{{ form.brand.label }}:</b></td>
				<td>{{ form.brand }}</td>
			</tr>

			<tr>
				<td><b>{{ form.type.label }}:</b></td>
				<td>{{ form.type }}</td>
			</tr>

			<tr>
				<td><b>{{ form.description.label }}:</b></td>
				<td>{{ form.description }}</td>
			</tr>

			<tr>
				<td><b>{{ form.engine_no.label }}:</b></td>
				<td>{{ form.engine_no }}</td>
			</tr>

			<tr>
				<td><b>{{ form.ship_name.label }}:</b></td>
				<td>{{ form.ship_name }}</td>
			</tr>

			<tr>
				<td><b>{{ form.serial_no.label }}:</b></td>
				<td>{{ form.serial_no }}</td>
			</tr>

			<tr>
				<td><b>{{ form.chassis_no.label }}:</b></td>
				<td>{{ form.chassis_no }}</td>
			</tr>

			<tr>
				<td><b>{{ form.cost_price.label }}:</b></td>
				<td>{{ form.cost_price }}</td>
			</tr>

			<tr>
				<td><b>{{ form.quantity.label }}:</b></td>
				<td>{{ form.quantity }}</td>
			</tr>

			<tr>
				<td></td>
				<td>
					<input class="btn btn-primary" type="submit" value="Submit" />
				</td>
			</tr>
		</table>
	</form>
{% endblock %}

{% block extra-js %}
	<script type="text/javascript">

		$("#inventory-tab").addClass("active");

		$("#inventory-create").addClass("active");
	</script>
{% endblock %}
