{% extends "europarts.html" %}

{% block content %}
	{% if messages %}
	    {% for message in messages %}
	        <p>{{ message }}</p>
	    {% endfor %}
		<hr/>
	{% endif %}

<a href="#" id="add-product">Add Product</a>

<form method="post">
	{% csrf_token %}

	{{ product_list_form.as_p }}

	{{ product_formset.management_form }}

	<table cellspacing="10" cellpadding="10">
		<tr>
			<th>Description</th>
			<th>Part No.</th>
			<th>Brand</th>
			<th>Quantity</th>
			<th>Unit</th>
			<th></th>
		</tr>
	{% for form in product_formset %}
		<tr id="id_form-{{ forloop.counter0 }}-tr">
			<td>{{ form.description }}</td>
			<td>{{ form.part_no }}</td>
			<td>{{ form.brand }}</td>
			<td>{{ form.quantity }}</td>
			<td>{{ form.unit }}</td>
			<td></td>
		</tr>
		{% endfor %}
	</table>

	<p>
		<input type="submit" value="Save" />
	</p>

{% if link_formset.non_form_errors %}
    {% for error in link_formset.non_form_errors %}
        {{ error|escape }}
    {% endfor %}
{% endif %}

</form>
{% endblock %}
