{% extends "base_template.html" %}

{% block main %}
	<ul class="nav nav-tabs">
		<li id="inventory-tab"><a href="{% url 'europarts:inventory_list' %}">Inventory</a></li>
		<li id="worksheet-tab"><a href="{% url 'europarts:worksheet_list' %}">Worksheet</a></li>
		<li id="bill-tab"><a href="{% url 'europarts:bill_list' %}">Bill</a></li>
		<li id="quotation-tab"><a href="{% url 'europarts:quotation_list' %}">Quotation</a></li>
		<li id="invoice-tab"><a href="{% url 'europarts:invoice_list' %}">Invoice</a></li>
		<li id="challan-tab"><a href="{% url 'europarts:challan_list' %}">Challan</a></li>
	</ul>
	{% block nav-content %}
		<h3>Please click on one of the above links.</h3>
	{% endblock %}
{% endblock %}
