{% extends "europarts/home.html" %}

{% block nav-content %}
	<div class="btn-toolbar" style="margin: 10px;">
{#		<div class="btn-group">#}
{#			<a id="inventory-create" href="{% url 'europarts:inventory_create' %}" class="btn btn-danger btn-sm">Create</a>#}
{#		</div>#}

		<div class="btn-group">
			<a id="invoice-list" href="{% url 'europarts:invoice_list' %}" class="btn btn-default btn-sm">List</a>
			<a id="invoice-details" href="#" class="btn btn-default btn-sm disabled">Details</a>
		</div>

		<div id="conditional-buttons" style="float: right; display: none;" class="btn-group">
			{% if paid %}
				<a id="invoice-mark-as-paid" href="#" class="btn btn-success btn-sm disabled">Paid</a>
				{% else %}
				<a id="invoice-mark-as-paid" href="#" class="btn btn-primary btn-sm">Mark as Paid</a>
				{% endif %}
			<a id="generate-invoice" href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#emailModal">Send Email</a>
		</div>
	</div>

	{% block invoice-content %}{% endblock %}
{% endblock %}
