.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.spacer {
    height: 100px;
}

#login-div {
    margin: 100px auto;
    position: relative;
    width: 300px;
    padding: 10px;
    border-radius: 10px;

    background-color: whitesmoke;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1);
}

#dashboard-wrap {
    margin: 0 auto;
    position: relative;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.list-link:link, .list-link:visited {
    background-color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    float: left;
    margin: 5px;
}

.list-link:hover, .list-link:active {
    background-color: #428BCA;
    color: white;
}

#worksheet-wrapper {
    text-align: center;
}

    #worksheet-wrapper > form > table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

