{% extends "europarts/invoice_base.html" %}

{% block invoice-content %}
{#	<input type='button' id='btn' value='Print' onclick='printDiv();'>#}
	<div style="padding: 10px;" id="invoice-body">
		<span id="ref_no"><b>Ref No. :</b> {{ invoice.ref_no }}</span>
		<span style="float: right;" id="date"><b>Dated:</b> {{ now.date }}</span>
		<hr/>

		<div class="text-center">
			<h3>Invoice</h3>
		</div>

		<b>To</b> <br/>
		{{ invoice.recipient }} <br/>
		{{ invoice.recipient_address }} <br/>

		<table class="table">
			<thead>
				<tr>
					<th>Part No.</th>
					<th>Particulars</th>
					<th>Brand</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total Price</th>
				</tr>
			</thead>

			<tbody>
			{% for item in invoice_rows %}
				<tr>
					<td>{{ item.part_no }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.brand }} {{ item.type }}</td>
					<td>{{ item.quantity }}</td>
					<td>Tk. {{ item.sale_price }}</td>
					<td>Tk. {{ item.total }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td class="text-right" colspan="3">
						<b>Total Price (excluding VAT & AIT)</b>
					</td>
					<td>Tk. {{ invoice.total }}</td>
				</tr>

				<tr>
					<td></td>
					<td class="text-right" colspan="3">
						<b>BD Govt. VAT (8.5%)</b>
					</td>
					<td>Tk. {{ vat }}</td>
				</tr>

				<tr>
					<td></td>
					<td class="text-right" colspan="3">
						<b>Payable Total</b>
					</td>
					<td>Tk. {{ invoice.total_after_tax }}</td>
				</tr>
			</tbody>
		</table>

		<div style="border: solid;" class="text-center" id="total_in_words">
			<h4>Total Taka: {{ total_in_words|capfirst }}</h4>
		</div>
	</div>

	<footer class="text-right">
	<p>_______________________</p>
	<p>For EURO PARTS BD LTD.</p>
	</footer>

	<!-- Generate Invoice Modal -->
	<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'europarts:invoice_create' pk %}">{% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title" id="invoiceModalLabel">Are you sure?</h4>
					</div>
{#					<div class="modal-body">#}
{#					</div>#}
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Generate Invoice" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra-js %}
	<script type="text/javascript">

		$("#invoice-tab").addClass("active");

		$("#invoice-details").addClass("active");

	</script>
{% endblock %}

