{% extends "inv_base.html" %}

{% block main %}
<form method="post">
    {% csrf_token %}
	<table>
		<tbody>
		<tr>
			<td>{{ form.date.label }}:</td>
			<td>{{ form.date }} e.g. 2017-12-31</td>
		</tr>
		<tr>
			<td>{{ form.number.label }}:</td>
			<td>{{ form.number }}</td>
		</tr>
		<tr>
			<td>{{ form.spinning_mill.label }}:</td>
			<td>{{ form.spinning_mill }}</td>
		</tr>
		</tbody>
	</table>

    {{ lc_items.management_form }}

	<table class="mui-table">
	<thead>
		<tr>
			<th>Count</th>
			<th>Composition</th>
			<th>Quantity</th>
			<th>Unit</th>
			<th>Style</th>
			<th>Color</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
    {% for form in lc_items.forms %}
	    <tr>
	        <td>{{ form.count }}</td>
	        <td>{{ form.composition }}</td>
	        <td>{{ form.quantity }}</td>
	        <td>{{ form.unit }}</td>
	        <td>{{ form.style }}</td>
	        <td>{{ form.color }}</td>
	        <td>{{ form.delete }}</td>
	    </tr>
        {% endfor %}
	</tbody>
	</table>
    <input class="mui-btn mui-btn--primary" type="submit" value="Create" />
</form>
{% endblock %}
