{% extends "inv_base.html" %}

{% block main %}
	{% if yarnrcv_list %}
	<table class="mui-table mui-table--bordered">
	<thead>
		<tr>
			<th>LC</th>
			<th>Spinning Mill</th>
			<th>LC Order Qty</th>
			<th>Receive Date</th>
			<th>Challan No</th>
			<th>Lot</th>
			<th>Count</th>
			<th>Received Qty</th>
			<th>Available to Issue</th>
			<th>Actions</th>
		</tr>
	</thead>

	{% for item in yarnrcv_list %}
	<tbody>
		<tr>
			<td>{{ item.lc_item.lc.number }}</td>
			<td>{{ item.lc_item.lc.spinning_mill }}</td>
			<td>{{ item.lc_item.quantity }}</td>
			<td>{{ item.date }}</td>
			<td>{{ item.challan_no }}</td>
			<td>{{ item.lot }}</td>
			<td>{{ item.lc_item.count }}</td>
			<td>{{ item.quantity_rcv }}</td>
			<td>{{ item.lc_item.yarn_bal }}</td>
			<td>
				<a href="{% url 'inv:yarn_issue_createview' item.lc_item.pk %}" class="mui-btn mui-btn--accent">Issue</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
		{% else %}
		<p>No yarn received yet. <a href="{% url 'inv:lc_searchview' %}">Click here</a> to search for an LC to receive corresponding yarn.</p>
		{% endif %}
{% endblock %}
