{% extends "base_template.html" %}

{% block main %}
	<ul class="nav nav-tabs">
        <li class="{{ employees_active }}"><a href="{% url 'attendance:employees' %}">Employees</a></li>
        <li class="{{ month_active }}"><a href="{% url 'attendance:month_summary' current_month_number current_year %}">Month</a></li>
        <li class="{{ action_active }}"><a href="{% url 'attendance:action' %}">Action</a></li>
	</ul>

	{% block nav-content %}
		<h3>Please click on one of the above links.</h3>
	{% endblock %}
{% endblock %}
