{% extends "requisition.html" %}
{% load staticfiles %}

{% block main %}

	{% if messages %}
	    {% for message in messages %}
	        <p>{{ message }}</p>
	    {% endfor %}
		<hr/>
	{% endif %}

	<form method="post">
	    {% csrf_token %}

	    <label>Company</label>
	    {{ requisition_form.company }}
	    {% if requisition_form.company.errors %}
	        {% for error in requisition_form.company.errors %}
	            {{ error|escape }}
	        {% endfor %}
	    {% endif %}

	    <label>Issue Date</label>
	    {{ requisition_form.issue_date }}
	    {% if requisition_form.issue_date.errors %}
	        {% for error in requisition_form.issue_date.errors %}
	            {{ error|escape }}
	        {% endfor %}
	    {% endif %}

		<label>Department</label>
	    {{ requisition_form.department }}
	    {% if requisition_form.department.errors %}
	        {% for error in requisition_form.department.errors %}
	            {{ error|escape }}
	        {% endfor %}
	    {% endif %}

		<label>Vendor</label>
	    {{ requisition_form.vendor }}
	    {% if requisition_form.vendor.errors %}
	        {% for error in requisition_form.vendor.errors %}
	            {{ error|escape }}
	        {% endfor %}
	    {% endif %}

		<br/>
		<br/>

	    {{ item_formset.management_form }}

	    {% for item_form in item_formset %}
	        <div class="item-formset">
	            {{ item_form.name.label }}
		        {{ item_form.name }}
	            {% if item_form.name.errors %}
	                {% for error in item_form.name.errors %}
	                    {{ error|escape }}
	                {% endfor %}
	            {% endif %}

	            {{ item_form.quantity.label }}
	            {{ item_form.quantity }}
	            {% if item_form.quantity.errors %}
	                {% for error in item_form.quantity.errors %}
	                    {{ error|escape }}
	                {% endfor %}
	            {% endif %}

	            {{ item_form.price.label }}
	            {{ item_form.price }}
	            {% if item_form.price.errors %}
	                {% for error in item_form.price.errors %}
	                    {{ error|escape }}
	                {% endfor %}
	            {% endif %}

	            {{ item_form.amount.label }}
	            {{ item_form.amount }}
	            {% if item_form.amount.errors %}
	                {% for error in item_form.amount.errors %}
	                    {{ error|escape }}
	                {% endfor %}
	            {% endif %}
	        </div>
	    {% endfor %}

	    {% if item_formset.non_form_errors %}
	        {% for error in item_formset.non_form_errors %}
	            {{ error|escape }}
	        {% endfor %}
	    {% endif %}

		<br/>
		<br/>

	    <input class="btn btn-primary" type="submit" value="Create Requisition"/>
	</form>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script>
	    $('.item-formset').formset({
	        addText: 'add item',
	        deleteText: 'remove'
	    });
	</script>

{% endblock %}
