{% extends "requisition.html" %}

{% block title %}
	Purchase Order
{% endblock %}

{% block print %}
{#<script type="text/javascript">#}
{#    function PrintElem(elem) {#}
{#        Popup($(elem).html());#}
{#    }#}
{##}
{#    function Popup(data) {#}
{#        var mywindow = window.open('', 'print', 'height=600,width=800');#}
{#        mywindow.document.write('<html><head><title>Purchase Order</title>');#}
{#        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');#}
{#	    mywindow.document.write('<link href="/static/css/bootstrap.min.css" rel="stylesheet">');#}
{#	    mywindow.document.write('<link href="/static/css/style.css" rel="stylesheet">');#}
{#	    mywindow.document.write('<style type="text/css" media="print">' +#}
{#			    '@page' +#}
{#			    '{' +#}
{#			    'size:  auto;   /* auto is the initial value */' +#}
{#			    'margin: 0mm;  /* this affects the margin in the printer settings */' +#}
{#			    '} ' +#}
{#			    'html' +#}
{#			    '{' +#}
{#			    'background-color: #FFFFFF;' +#}
{#			    'margin: 0px;  /* this affects the margin on the html before sending to printer */' +#}
{#			    '}' +#}
{#			    'body' +#}
{#			    '{' +#}
{#			    'border: solid 0px blue ;' +#}
{#			    'margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */' +#}
{#			    '}' +#}
{#			    'footer' +#}
{#			    '{' +#}
{#			    'position: fixed;' +#}
{#			    'bottom: 0px;' +#}
{#			    '}' +#}
{#			    '</style>');#}
{#	    mywindow.document.write('</head><body >');#}
{##}
{#        mywindow.document.write(data);#}
{#        mywindow.document.write('</body></html>');#}
{##}
{#        mywindow.document.close(); // necessary for IE >= 10#}
{#        mywindow.focus(); // necessary for IE >= 10#}
{##}
{#        mywindow.print();#}
{#        mywindow.close();#}
{##}
{#        return true;#}
{#    }#}
{#</script>#}

<div class="container" id="mydiv">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>{{ object.company }}</h2>
	            <p style="line-height: 0.5em;">{{ object.company.address }}</p>
            </div>
            <hr>
	        <div class="row">
                <div class="col-xs-5">
                    <address>
	                    <br/>
                        <small>Document No.</small> {{ po.reference_no }}<br>
                    </address>
                </div>
		        <div class="col-xs-3"></div>
                <div class="col-xs-4 text-right">
                    <address>
                    <strong>Purchase Order</strong><br>
                        <small>Date:</small> {{ object.created|date }}<br>
                    </address>
                </div>
            </div>
	        <hr/>
	        <div class="row">
                <div class="col-xs-6">
                    <small>
                        <strong>To</strong><br>
	                    <p>{{ object.vendor.name }} <br/>
	                    {{ object.vendor.address_line_1 }}<br/>
	                    {{ object.vendor.address_line_2 }}<br/>
	                    {{ object.vendor.phone }}</p>
                    </small>
                </div>
                <div class="col-xs-6 text-right">
                    <small>
	                    <strong>Requisitioner</strong>
	                    <p>Group Design Ace Ltd<br/>
	                    Head Office, DOHS, Baridhara<br/>
	                    Dhaka</p>
                    </small>
                </div>
            </div>
        </div>
    </div>

	<br/>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr style="border-bottom: solid; border-width: 2px;">
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% for item in items %}
                                <tr>
                                    <td style="border-bottom: solid; border-width: 1px;">
	                                    {{ item.name }} <br/>
	                                    <small>{{ item.description }}</small>
                                    </td>
                                    <td class="text-center" style="border-bottom: solid; border-width: 1px;">{{ item.quantity }} pc{{ item.quantity|pluralize }}</td>
                                    <td class="text-center" style="border-bottom: solid; border-width: 1px;">৳ {{ item.price }}</td>
                                    <td class="text-right" style="border-bottom: solid; border-width: 1px;">৳ {{ item.amount }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Total</strong></td>
                                    <td class="thick-line text-right">৳ {{ object.total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="row" id="terms">
		<div class="col-xs-12">
			<small>
			<strong><u>Terms & Condition:</u></strong>

			<ol>
				<li>Good(s) to be delivered within 03 days of PO date</li>
				<li>Payment will be made by A/C pay cheque within 20 days of product delivery.</li>
				<li>Purchase order value are excluding VAT & TAX.</li>
				<li>{{ object.vendor.name }} will be bound to provide parts & service warranty with in warranty period.</li>
			</ol>
			</small>
		</div>
	</div>

	<div class="row" id="comp-gen">
		<div class="col-xs-12">
			<small>&ast; This is a computer generated document. No signature of any kind is required.</small>
		</div>
	</div>

	<footer class="text-center">
		<hr style="margin-bottom: 15px;"/>
		<small>
		<strong>Head Office:</strong> House No. 365/4, Road No. 6, Baridhara DOHS, Dhaka - 1206 &nbsp;
		Tel: 880-2-8416323, 8416324, Email: info@groupdesignace.com
		</small>
	</footer>

</div>
{% endblock %}
