{% extends "base_template.html" %}
{% load project_tags %}

{% block navbar %}{% endblock %}

{% block main %}
	<div id="dashboard-wrap">
		<div class="list-group">
			<a href="{% url 'billing:home' %}" class="list-group-item">Billing</a>
{#			{% if request.user|has_group:'Europarts' %}#}
{#				<a href="{% url 'europarts:home' %}" class="list-group-item">Europarts</a>#}
{#				{% endif %}#}
{#			<a href="{% url 'attendance:employees' %}" class="list-group-item">Attendance</a>#}

			<a href="#" class="list-group-item">Requisition</a>

			<a href="{% url 'inv:lc_searchview' %}" class="list-group-item">Inventory</a>
			<a href="{% url 'ticket:ticket_list' %}" class="list-group-item">Support Ticket</a>
		</div>

		{% if request.user == 'admin' %}
		<div class="list-group">
			<a href="/admin/" class="list-group-item active">Admin</a>
		</div>
		{% endif %}
	</div>
{#	<ul>#}
{#		<li><a href="#">Users</a></li>#}
{#		<li><a href="#">Company Profile</a></li>#}
{##}
{#		<li></li>#}
{#		<li></li>#}
{#		<li><a href="#">Apps</a></li>#}
{#		<li><a href="#">Support</a></li>#}
{#		<li><a href="#">Reports</a></li>#}
{#		<li><a href="#">Inventory</a></li>#}
{#		<li><a href="{% url 'requisition:home' %}">Requisition</a></li>#}
{#		<li></li>#}
{#	</ul>#}
{% endblock %}
