{% extends "europarts/challan_base.html" %}

{% block challan-content %}
{#	<input type='button' id='btn' value='Print' onclick='printDiv();'>#}
	<div style="padding: 10px;" id="challan-body">
		<span id="ref_no"><b>Ref No. :</b> {{ challan.ref_no }}</span>
		<span style="float: right;" id="date"><b>Dated:</b> {{ now.date }}</span>
		<hr/>

		<div class="text-center">
			<h3>Delivery Challan</h3>
		</div>

		<b>To</b> <br/>
		{{ challan.recipient }} <br/>
		{{ challan.recipient_address }} <br/>

		<table class="table">
			<thead>
				<tr>
					<th>Part No.</th>
					<th>Particulars</th>
					<th>Brand</th>
					<th>Quantity</th>
				</tr>
			</thead>

			<tbody>
			{% for item in challan_rows %}
				<tr>
					<td>{{ item.part_no }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.brand }} {{ item.type }}</td>
					<td>{{ item.quantity }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<hr/>
	</div>

	<footer class="text-right">
	<p>_______________________</p>
	<p>For EURO PARTS BD LTD.</p>
	</footer>

	<!-- Send Email Modal -->
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form method="get" action="{% url 'europarts:challan_email' pk %}">
						<div class="modal-header">
							<h4 class="modal-title" id="emailModalLabel">Send Email</h4>
						</div>
						<div class="modal-body">
							<label for="to_address">To:</label>
							<input name="to_address" id="to_address" type="text" class="form-control"/>
	
							<br>
	
							<label for="email_body"> Body:</label>
							<textarea name="email_body" id="email_body" cols="30" rows="10" class="form-control"></textarea>
	
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<input type="submit" class="btn btn-primary" value="Send Email" />
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}

{% block extra-js %}
	<script type="text/javascript">

		$("#challan-tab").addClass("active");

		$("#challan-details").addClass("active");

		$("#conditional-buttons").css('display', 'block');

	</script>
{% endblock %}

