<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>DAL ERP</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>

	<div style="padding: 10px;" id="challan-body">
		<span id="ref_no"><b>Ref No. :</b> {{ ref_no }}</span>
		<span style="float: right;" id="date"><b>Dated:</b> {{ date|date:"F d, Y" }}</span>
		<hr/>

		<div class="text-center">
			<h3>Delivery Challan</h3>
		</div>

		<b>To</b> <br/>
		{{ recipient }} <br/>
		{{ address }} <br/>

		<table class="table">
			<thead>
				<tr>
					<th>Part No.</th>
					<th>Particulars</th>
					<th>Brand</th>
					<th>Quantity</th>
				</tr>
			</thead>

			<tbody>
			{% for item in challan_rows %}
				<tr>
					<td>{{ item.part_no }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.brand }}</td>
					<td>{{ item.quantity }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<hr/>
    </div>
    
    <br><br>

	<footer class="text-right">
	<p>_______________________</p>
	<p>For EURO PARTS BD LTD.</p>
	</footer>

	</body>
</html>
