{% extends "europarts/quotation_base.html" %}

{% block quotation-content %}
{#	<input type='button' id='btn' value='Print' onclick='printDiv();'>#}
	<div style="padding: 10px;" id="quotation-body">
		<span id="ref_no"><b>Ref No. :</b> {{ quotation.ref_no }}</span>
		<span style="float: right;" id="date"><b>Dated:</b> {{ now.date }}</span>
		<hr/>

		<div class="text-center">
			<h3>Quotation</h3>
		</div>

		{{ quotation.client.name }} <br/>
		{{ quotation.client.address }} <br/>

		<table class="table">
			<thead>
				<tr>
					<th>Particulars</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total Price</th>
				</tr>
			</thead>

			<tbody>
			{% for item in quotation_rows %}
				<tr>
					<td>{{ item.description }}</td>
					<td>{{ item.quantity }}</td>
					<td>Tk. {{ item.sale_price }}</td>
					<td>Tk. {{ item.total }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td class="text-right" colspan="1">
						<b>Total Price (excluding VAT & AIT)</b>
					</td>
					<td></td>
					<td>Tk. {{ quotation.total }}</td>
				</tr>
			</tbody>
		</table>

		<div style="border: solid;" class="text-center" id="total_in_words">
			<h4>Total Taka: {{ total_in_words|capfirst }}</h4>
		</div>

		<br/>
		<br/>

		<p><b><u>Other Terms & Conditions</u></b></p>

		<p><b>PAYMENT:</b> 30% advance and balance 70% at the time of delivery from our office in cash.</p>

		<p><b>DELIVERY:</b> Within 10-15 days from the date of Confirm order and advance</p>

		<p><b>OFFER VALIDITY:</b> 30 Days.</p>
	</div>

	<footer class="text-right">
	<p>_______________________</p>
	<p>For EURO PARTS BD LTD.</p>
	</footer>

	<!-- Generate Invoice Modal -->
	<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'europarts:invoice_create' pk %}">{% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title" id="invoiceModalLabel">Are you sure?</h4>
					</div>
{#					<div class="modal-body">#}
{#					</div>#}
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Generate Invoice" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Send Email Modal -->
	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="get" action="{% url 'europarts:quotation_email' pk %}">
					<div class="modal-header">
						<h4 class="modal-title" id="emailModalLabel">Send Email</h4>
					</div>
					<div class="modal-body">
						<label for="to_address">To:</label>
						<input name="to_address" id="to_address" type="text" class="form-control"/>

						<br>

						<label for="email_body"> Body:</label>
						<textarea name="email_body" id="email_body" cols="30" rows="10" class="form-control"></textarea>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" value="Send Email" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra-js %}
	<script type="text/javascript">

		$("#quotation-tab").addClass("active");

		$("#quotation-details").addClass("active");

		$("#conditional-buttons").css('display', 'block');

	</script>
{% endblock %}
