{% extends "europarts/clients_base.html" %}

{% block clients-content %}
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Actions</th>
			</tr>
			</thead>

			<tbody>

			</tbody>
			{% for client in object_list %}
			<tr>
				<td>{{ client.name }}</td>
				<td>{{ client.address }}</td>
				<td>
					<a class="btn btn-xs btn-primary" href="{% url 'europarts:clients_update' client.pk %}">Edit</a>
					<a class="btn btn-xs btn-primary" href="{% url 'europarts:clients_transactions' client.pk %}">Transactions</a>
				</td>
			</tr>
				{% empty %}
				<tr>
				<td colspan="3"><h4>No clients added to the database yet.</h4></td>
				</tr>
				{% endfor %}
		</table>
{% endblock %}

{% block extra-js %}
	<script type="text/javascript">

		$("#clients-tab").addClass("active");

		$("#invoice-list").addClass("active");
	</script>
{% endblock %}
