{% extends "europarts/worksheet_base.html" %}
{% load static from staticfiles %}

{% block worksheet-content %}
	<form id="worksheetForm" method="post" action=".">
		{% csrf_token %}
		Ref No : {{ worksheet_form.ref_no }}

		<input class="btn btn-primary btn-sm" type="submit" value="Save"/>

		<hr/>

		{{ row_formset.management_form }}

		<table>

		<tr>
			<th>Part No</th>
			<th>Barcode</th>
			<th>Description</th>
			<th>Qnty</th>
			<th>KG p/s</th>
			<th>Total</th>
			<th>Per KG Duty/Tax</th>
			<th>Air Freight Cost P/Pcs</th>
			<th>Net Purchase Price Taka</th>
			<th>Tax (%)</th>
			<th>Price after Tax</th>
			<th>Unit Price in Taka</th>
			<th>Brand</th>
			<th>VAT</th>
			<th>Total Price in Taka</th>
		</tr>

		{% for row_form in row_formset %}
			<tr>
				<td>{{ row_form.part_no }}</td>
				<td>{{ row_form.barcode }}</td>
				<td>{{ row_form.description }}</td>
				<td>{{ row_form.quantity }}</td>
				<td>{{ row_form.gram_p_s }}</td>
				<td>{{ row_form.total }}</td>
				<td>{{ row_form.per_pcs_duty_tax }}</td>
				<td>{{ row_form.air_freight_cost_p_pcs }}</td>
				<td>{{ row_form.net_purchase_price_taka }}</td>
				<td>{{ row_form.tax }}</td>
				<td>{{ row_form.price_after_tax }}</td>
				<td>{{ row_form.unit_price_in_taka }}</td>
				<td>{{ row_form.brand }}</td>
				<td>{{ row_form.vat }}</td>
				<td>{{ row_form.total_price_in_taka }}</td>
			</tr>
			{% endfor %}

		</table>
	</form>

	<div id="past_price" style="border: solid; border-width: 1px; display: none; background-color: white;"></div>
{% endblock %}

{% block extra-js %}
	<script src="{% static 'js/europarts.js' %}"></script>

	<script type="text/javascript">

		$("#worksheet-tab").addClass("active");

		$("#worksheet-create").addClass("active");
	</script>
{% endblock %}
